.section {
	position: relative;
	padding: 2em var(--container_margin);
	transition: padding 0.3s ease-in-out;
}
.heading {
	composes: heading from "~client/website/layouts/Structure/style.css";
}
.content {
	margin-top: 2em;
	padding: 0 2em;
	transition-property: padding, margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.item {
	flex-basis: 100%;
	max-width: 30rem;
	margin: auto;
}
.item:not(:first-child) {
	margin-top: 2em;
}
@media (min-width: 40rem) {
	.item:nth-child(2) {
		margin-top: 0;
	}
	.item {
		flex-basis: calc(50% - 1em);
		margin: 0;
	}
}
@media (min-width: 48rem) {
	.section {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.content {
		margin-top: 4em;
		padding: 0;
	}
}
@media (min-width: 64rem) {
	.section {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.content {
		margin-top: 5em;
	}
	.item:nth-child(3) {
		margin-top: 0;
	}
	.item {
		flex-basis: calc((100% - 4em) / 3);
	}
}
