.article {
	transition-property: flex-basis, margin, padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.article_featured {
	composes: article;
}
.article > :first-child {
	flex-basis: 100%;
	transition: flex-basis 0.3s ease-in-out;
}
.content {
	flex-basis: 100%;
	margin-top: 1em;
	transition: flex-basis 0.3s ease-in-out;
}
.date {
}
.heading {
	composes: subheading from "~client/website/layouts/Structure/style.css";
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	max-height: 1.68em;
	margin-top: 1rem;
}
.article_featured .heading {
	margin-top: 0;
}
.description {
	font-size: 1em;
	transition: font-size 0.3s ease-in-out;
	margin-top: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	max-height: 1.4em;
}
.article_featured .description {
	-webkit-line-clamp: 1;
	max-height: 1.4em;
}
.image {
	transition-property: width, height, padding;
	width: 100%;
	padding-top: 56.25%;
	height: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.read_more_action {
	margin-top: 1rem;
	font-weight: bold;
}
.read_more_icon {
	padding-left: 0.5em;
	vertical-align: middle;
}
.read_more_icon:before {
	content: "\f3d3";
	display: inline-block;
	font-family: "Ionicons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (min-width: 32.5rem) {
	.article > :first-child {
		flex-basis: 16em;
	}
	.content {
		margin-top: 0;
		flex-basis: calc(100% - 18em);
	}
}
@media (min-width: 40rem) {
	.article_featured > :first-child {
		flex-basis: calc(50% - 1em);
	}
	.article_featured .content {
		flex-basis: calc(50% - 1em);
	}
	.article_featured .heading {
		-webkit-line-clamp: 2;
		max-height: 3.36em;
	}
	.article_featured .description {
		-webkit-line-clamp: 3;
		max-height: 4.2em;
	}
	.article_featured .image {
		padding-top: 100%;
	}
}
@media (min-width: 48rem) {
	.article {
		display: block;
	}
	.article_featured {
		display: flex;
	}
	.article_featured .heading {
		max-height: 4.2em;
	}
	.heading {
		-webkit-line-clamp: 2;
		max-height: 4.2em;
	}
	.description {
		-webkit-line-clamp: 2;
		max-height: 2.8em;
	}
	.content {
		margin-top: 1em;
	}
}
@media (min-width: 64rem) {
	.heading {
		max-height: 5.04em;
	}
	.article_featured .heading {
		max-height: 5.04em;
	}
}
@media (min-width: 75rem) {
	.article_featured {
		display: block;
	}
	.content {
		margin-top: 1em;
	}
}
