.section {
	position: relative;
	padding: 2em;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.preview {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.content {
	position: relative;
	max-width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.to_right {
	flex-basis: 100%;
	padding: 2em;
	border-radius: 0.25em;
	background: var(--background_color);
	transition-property: flex-basis, padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.heading {
	composes: heading from "~client/pages/Structure/style.css";
	width: 100%;
	padding: 0;
}
.subheading {
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	text-align: center;
	margin-top: 1rem;
}
.login_action {
	margin-top: 2em;
}
.tagline {
	margin-top: 2rem;
	text-align: center;
	font-size: 0.9em;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.register_action {
	margin-top: 2em;
}
.forgot_password_action {
	margin-top: 2em;
	text-align: center;
}
.forgot_password {
	text-align: center;
	padding: 0.5rem;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.forgot_password_line {
	margin: 0.5rem -0.5rem 0;
	border-top: 1px solid var(--text_color_primary);
}
@media (min-width: 48rem) {
	.section {
		padding: 2em 4em;
	}
	.to_right {
		flex-basis: 50%;
	}
	.subheading {
		font-size: 1.2em;
	}
	.tagline {
		font-size: 1em;
	}
	.forgot_password {
		font-size: 1.2em;
	}
}
@media (min-width: 64rem) {
	.section {
		padding: 5em;
	}
	.content {
		justify-content: flex-end;
	}
	.to_right {
		padding: 3em 5em;
	}
}
