.section {
	position: relative;
}
.avatar {
	width: 5rem;
	height: 5rem;
	margin: auto;
	border-radius: 50%;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.name {
	composes: subheading from "~client/website/layouts/Structure/style.css";
	margin-top: 1rem;
}
.position {
	margin-top: 1em;
}
