.reponsive {
	position: relative;
}

.content_container {
	overflow-y: auto;
	padding: $space.medium;
	margin: -$space.medium;
	margin-bottom: 0;
}
.content {
	position: relative;
}

.device {
	margin: 0 auto;
}

.actions_block {
	margin-top: $space.inset.stack;
	position: relative;
	display: flex;
	justify-content: center;
}
.actions {
	margin: 0 1.2rem;
	border-radius: 3px;
	background-color: color($color.neutral.lighter lightness(96%));
	overflow: hidden;
}
.action {
	display: table-cell;
	padding: $space.inset.square.xxsmall;
	font-size: 1.2rem;
	color: $color.neutral.dark;
	cursor: pointer;
}
.action.is_active,
.action:hover,
.action:focus {
	background-color: color($color.neutral.light lightness(90%));
	color: $color.neutral.darker;
	font-weight: bold;
}
