.gallery_container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.gallery_item {
	flex-basis: 15rem;
	height: 15rem;
	min-width: 15rem;
	transition-property: flex-basis, width, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	margin-right: 1.5rem;
	display: flex;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 2rem;
}

@media (min-width: 25rem) {
	.gallery_item {
		flex-basis: 20rem;
		height: 20rem;
		min-width: 20rem;
	}
}
