.section:not(:first-child) {
	margin-top: 2em;
	transition: margin 0.3s ease-in-out;
}
.to_right {
	composes: section;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.to_left {
	composes: section;
}
.icon {
	font-size: 2em;
}
.heading {
	composes: subheading from "~client/pages/Structure/style.css";
}
.description {
	margin-top: 1em;
}
@media (min-width: 48rem) {
	.to_right {
		align-items: flex-end;
		text-align: right;
	}
}
