.container {
	position: relative;
	padding-bottom: 56ru;
}

.loading {
	padding: 28ru;
	font-size: 12ru;
	text-transform: uppercase;
	color: $color.neutral.warm.x40;
}

.title {
	padding: 0 20ru;
	line-height: 48ru;
	font-size: 14ru;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $color.neutral.warm.x50;
	border-bottom: 1px solid $color.neutral.warm.x10;
}
.content {
	position: relative;
	width: 860ru;
	margin: 40ru auto;
	background-color: #fff;
	box-shadow: 0 2px 4px #dedad4;
	border-radius: 4ru;
}

.table {
	width: 100%;
}
.table [tag="textfield_input"] {
	font-size: 14ru;
	padding: 0 4ru;
}
.row {
	display: flex;
}
.row > b {
	flex: 1 100px;
}
.table_header {
	composes: row;
	padding-right: 36ru;
	background-color: $color.neutral.warm.x00;
}
.table_header > b {
	line-height: 28px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: $color.neutral.warm.x60;
}
.save {
	position: absolute;
	bottom: -48px;
	right: 12px;
}
