.container {
	position: relative;
	display: flex;
	align-items: center;
	height: 72ru;
	max-width: 992ru;
	margin: 0 auto;
}

.logo {
	margin-left: 32ru;
	font-family: "EagleLake";
	font-size: 24ru;
	color: $color.neutral.warm.x90;
}
