.editor > div:focus {
	outline: none;
}

.editor ol {
	padding-left: 1.75em;
}

.editor ol li {
	list-style: initial;
}

.circle_node {
	display: inline-block;
	border-radius: 100%;
	border: 1px solid indianred;
	width: 1.15em;
	height: 1.15em;
	margin: 0 0.15em;
}
