.container {
	position: relative;
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 100%;
}
.to_top {
	flex-basis: 50%;
	position: relative;
	padding: 2rem;
	transition: all 0.3s ease-in-out;
}
.to_top:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 2rem;
	width: 2rem;
	border-bottom: 2px solid #000;
}
.to_bottom {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	padding: 2rem 2rem 0;
}
.details {
	position: relative;
}
.capitalize {
	font-size: 1rem;
	line-height: 2;
	position: relative;
	z-index: 10;
	padding-left: 0;
	transition: padding 0.3s ease-in-out;
	display: inline-block;
}
.capitalize:first-letter {
	font-size: 2rem;
	line-height: 1;
	color: #d8d8d8;
	vertical-align: inherit;
	display: inline-block;
}
.capitalize:after {
	content: "";
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	top: 3.7rem;
	bottom: 3.7rem;
	background: #e6e6e6;
	z-index: -1;
	width: 8rem;
	right: -4rem;
}
.label {
	font-size: 1rem;
	position: absolute;
	transform-origin: left;
	font-weight: 600;
	top: -2.8rem;
	left: 4rem;
}
.title {
	font-size: 2rem;
	line-height: 1.1;
	z-index: 10;
	font-weight: bold;
	position: relative;
	height: auto;
}
@media (min-width: 30rem) {
	.title {
		font-size: 3rem;
	}
	.capitalize:first-letter {
		font-size: 4rem;
		float: left;
		padding-right: 0.5rem;
		vertical-align: top;
	}
	.to_top {
		padding: 4rem 4rem 2rem;
	}
	.to_top:before {
		width: 4rem;
		left: 4rem;
	}
	.to_bottom {
		padding: 2rem 4rem 0 4rem;
	}
	.label {
		top: -3rem;
		left: 6rem;
	}
}
@media (max-width: 39.99rem) {
	.label {
		transform: none !important;
	}
}
@media (min-width: 40rem) {
	.to_top {
		padding: 4rem 4rem 2rem 10rem;
	}
	.to_bottom {
		padding: 2rem 4rem 0 8rem;
	}
	.capitalize {
		padding-left: 2rem;
	}
	.label {
		top: 0;
		left: -3.5rem;
	}
}
@media (max-width: 63.99rem) {
	.title + .title {
		display: none !important;
	}
	.title {
		transform: translateY(0%) !important;
	}
}
@media (min-width: 48rem) {
	.capitalize {
		font-size: 1.2rem;
	}
	.capitalize:first-letter {
		font-size: 4.5rem;
	}
}
@media (min-width: 64rem) {
	.container {
		display: flex;
	}
	.capitalize:after {
		opacity: 1;
	}
	.title {
		position: absolute;
		left: 8rem;
		bottom: 0;
		right: 0;
		text-align: right;
		word-break: break-word;
	}
	.to_top {
		padding: 0 0 0 8rem;
	}
	.to_bottom {
		padding: 0 0 0 8rem;
	}
}
@media (min-width: 80rem) {
	.title {
		font-size: 4rem;
	}
}
@media (min-width: 90rem) and (min-height: 56.25rem) {
	.title {
		left: 16rem;
	}
	.to_top:before {
		left: 8rem;
		width: 8rem;
	}
	.capitalize:after {
		right: -8rem;
		width: 16rem;
	}
	.to_top {
		padding-left: 16rem;
	}
	.to_bottom {
		padding-left: 16rem;
	}
	.label {
		left: -7.5rem;
	}
}
@media (min-width: 105rem) and (min-height: 56.25rem) {
	.title {
		font-size: 5rem;
	}
}
