.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item {
	font-size: 2em;
}
.item:not(:last-child) {
	margin-right: 1em;
}
.error {
	composes: item;
	color: var(--text_color_error);
	position: relative;
}
.error_tooltip_hidden {
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 16rem;
	text-align: center;
}
.error_tooltip_visible {
	composes: error_tooltip_hidden;
	opacity: 1;
	visibility: visible;
}
