.items {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item {
	flex-basis: 100%;
	max-width: 30em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.image {
	padding-top: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.heading {
	composes: subheading from "~client/website/layouts/Structure/style.css";
}
.description {
	margin-top: 1em;
}
.item_full_width {
	composes: item;
}
@media (min-width: 48rem) {
	.item {
		max-width: none;
		flex-basis: calc(50% - 1em);
		margin-left: 0;
		margin-right: 0;
	}
	.item_full_width {
		flex-basis: 100%;
	}
}
