.section {
	position: relative;
}
.content {
	padding: 2em;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	max-width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.column {
	flex-basis: 100%;
	transition-property: flex-basis, margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.column:not(:first-child) {
	margin-top: 2em;
}
.heading {
	composes: subheading from "~client/pages/Structure/style.css";
}
.column_content {
	margin-top: 1em;
}
.menu_items {
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.menu_item {
	margin-top: 0.75rem;
}
.contact {
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.email {
}
.address {
	margin-top: 0.5rem;
}
.phone {
	margin-top: 0.5rem;
}
.social_media {
	font-size: 2em;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.separator {
	border-top: 1px solid var(--background_color_accent);
}
.to_bottom {
	padding: 1em 2em;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	max-width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.to_left {
	flex-basis: 100%;
}
.to_right {
	flex-basis: 100%;
	margin-top: 1em;
}
.menu {
	position: relative;
	margin: 0 -1em;
	display: flex;
	align-items: center;
}
.item {
	padding: 1rem;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.copyright {
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
@media (min-width: 40rem) {
	.column {
		flex-basis: calc(50% - 1em);
	}
	.column:nth-child(2) {
		margin-top: 0;
	}
	.social_media {
		font-size: 1.5em;
	}
}
@media (min-width: 48rem) {
	.content {
		padding: 2em 4em 2em;
	}
	.menu_items {
		font-size: 1.2em;
	}
	.contact {
		font-size: 1.2em;
	}
	.to_bottom {
		padding: 1em 4em;
	}
	.item {
		font-size: 1.2em;
	}
	.copyright {
		font-size: 1.2em;
	}
	.to_left {
		display: block;
		padding-right: 2em;
		flex-basis: auto;
	}
	.to_right {
		display: block;
		flex-basis: auto;
	}
}
@media (min-width: 64rem) {
	.content {
		padding: 3em 5em 2em;
	}
	.column {
		flex-basis: calc(25% - 1.25em);
	}
	.column:nth-child(3) {
		margin-top: 0;
	}
	.column:nth-child(4) {
		margin-top: 0;
	}
	.social_media {
		font-size: 1em;
	}
	.to_bottom {
		padding: 1em 5em 2em;
	}
}
