.container {
	position: relative;
}

.item {
	display: flex;
	padding: 10ru 20ru;
	align-items: center;
}
.item:hover {
	background-color: $color.neutral.warm.x10;
}
.item.is_active {
	background-color: $color.neutral.warm.x00;
}

.icon {
	width: 20ru;
	height: 20ru;
}
.icon > svg {
	stroke: $color.neutral.warm.x60;
}
.item.is_active .icon > svg {
	stroke: $color.neutral.warm.x90;
}
.label {
	margin-left: 12ru;
	font-size: 14ru;
	color: $color.neutral.warm.x70;
}
.item.is_active .label {
	color: $color.neutral.warm.x90;
}

.divider {
	height: 1px;
	background-color: $color.neutral.warm.x10;
	margin: 12ru 20ru;
}
