@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 100;
  src: url("NotoSansDisplay-Thin.woff2") format("woff2"),
    url("NotoSansDisplay-Thin.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 100;
  src: url("NotoSansDisplay-ThinItalic.woff2") format("woff2"),
    url("NotoSansDisplay-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 200;
  src: url("NotoSansDisplay-ExtraLight.woff2") format("woff2"),
    url("NotoSansDisplay-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 200;
  src: url("NotoSansDisplay-ExtraLightItalic.woff2") format("woff2"),
    url("NotoSansDisplay-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 300;
  src: url("NotoSansDisplay-Light.woff2") format("woff2"),
    url("NotoSansDisplay-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 300;
  src: url("NotoSansDisplay-LightItalic.woff2") format("woff2"),
    url("NotoSansDisplay-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("NotoSansDisplay-Regular.woff2") format("woff2"),
    url("NotoSansDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 400;
  src: url("NotoSansDisplay-Italic.woff2") format("woff2"),
    url("NotoSansDisplay-Italic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 500;
  src: url("NotoSansDisplay-Medium.woff2") format("woff2"),
    url("NotoSansDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 500;
  src: url("NotoSansDisplay-MediumItalic.woff2") format("woff2"),
    url("NotoSansDisplay-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("NotoSansDisplay-SemiBold.woff2") format("woff2"),
    url("NotoSansDisplay-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 600;
  src: url("NotoSansDisplay-SemiBoldItalic.woff2") format("woff2"),
    url("NotoSansDisplay-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("NotoSansDisplay-Bold.woff2") format("woff2"),
    url("NotoSansDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 700;
  src: url("NotoSansDisplay-BoldItalic.woff2") format("woff2"),
    url("NotoSansDisplay-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 800;
  src: url("NotoSansDisplay-ExtraBold.woff2") format("woff2"),
    url("NotoSansDisplay-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 800;
  src: url("NotoSansDisplay-ExtraBoldItalic.woff2") format("woff2"),
    url("NotoSansDisplay-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "NotoSansDisplay";
  font-style: normal;
  font-weight: 900;
  src: url("NotoSansDisplay-Black.woff2") format("woff2"),
    url("NotoSansDisplay-Black.woff") format("woff");
}
@font-face {
  font-family: "NotoSansDisplay";
  font-style: italic;
  font-weight: 900;
  src: url("NotoSansDisplay-BlackItalic.woff2") format("woff2"),
    url("NotoSansDisplay-BlackItalic.woff") format("woff");
}
