.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.logo {
	font-family: "EagleLake";
	font-size: 28ru;
	text-align: center;
	margin-bottom: 32ru;
	color: $color.neutral.warm.x70;
}
.logo::after {
	content: "Ryota";
}

.form {
	flex-basis: 450ru;
	padding: 36ru;
}
.form [tag="textfield"] + [tag="textfield"] {
	margin-top: 24ru;
}

.show_password {
	cursor: pointer;
	line-height: 1;
	width: 24ru;
	height: 24ru;
}

.submit {
	width: 100%;
	border-radius: 8ru;
	margin-top: 32ru;
}
