@import "~@nore/css-defaults";

::-moz-selection {
	background-color: #fdf7c3;
	color: $color.black;
}
::selection {
	background-color: #fdf7c3;
	color: $color.black;
}

.container {
	font-family: $font.sans;
	color: $color.black;
}
