.container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: $panel.navigation.width;
	background-color: $color.white;
	border-right: 1px solid $panel.border;
	box-shadow: $panel.shadow;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: transform 224ms $animation.decelerate;
	z-index: $layer.drawer;
}
.container.is_visible {
	transform: translateX(0%);
}

@media $screen.medium {
	.container {
		transform: translateX(0%);
		box-shadow: none;
	}
}
