.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	overflow-y: auto;
	overflow-x: hidden;
}

.list_container {
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 100%;
	padding-left: 1.5rem;
	margin-bottom: 3rem;
	transition: padding-left 0.3s ease-in-out;
}

@media (min-width: 25rem) {
	.list_container {
		padding-left: 3rem;
	}
}

@media (min-width: 67rem) {
	.list_container {
		width: calc(100vw - 40rem);
		padding-left: 0;
		margin-bottom: 7rem;
	}
}

@media (min-width: 90rem) {
	.list_container {
		width: calc(100vw - 60rem);
	}
}
