.section {
	position: relative;
	background: var(--background_color_accent);
	padding: 2em;
}
.heading {
	composes: subheading from "~client/pages/Structure/style.css";
}
.excerpt {
	margin-top: 0.5em;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.note {
	margin-top: 1em;
	transition-property: margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.subheading {
	font-size: 0.9em;
	font-weight: bold;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.tagline {
	font-size: 0.9em;
	margin-top: 0.5em;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
@media (min-width: 48rem) {
	.note {
		margin-top: 2em;
	}
}
@media (min-width: 64rem) {
	.excerpt {
		font-size: 1.2em;
		margin-top: 1em;
	}
	.subheading {
		font-size: 1em;
	}
	.tagline {
		font-size: 1em;
	}
}
