.container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 4rem 1rem;
	width: 20rem;
	overflow: hidden;
	height: 100%;
	background: #fff;
	transition: transform 0.5s ease-in-out;
}

@media (min-width: 90rem) and (min-height: 56.25rem) {
	.container {
		padding: 8rem 1rem;
	}
}
