.services {
	position: relative;
}

.list [tag="repeaterfield_item"] > [tag="repeaterfield"],
.list [tag="repeaterfield_item"] + [tag="repeaterfield_item"] {
	margin-top: 32ru;
}
.list [tag="repeaterfield_add"] {
	margin-top: 12ru;
}
.list_header {
	display: flex;
	justify-content: space-between;
}
.list_link {
	flex-grow: 0.2;
}
.list_category {
	flex-grow: 0.8;
}
.list_category [tag="textfield_input"] {
	font-weight: 600;
}

.service {
	position: relative;
	display: flex;
	margin-top: 20ru;
}
.service_price,
.service_time {
	flex-basis: 16%;
}
