.section {
	position: relative;
	padding: 2em;
	max-width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	transition: padding 0.3s ease-in-out;
}
.preview_image {
	flex-basis: 100%;
	padding-top: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition-property: flex-basis, padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.content {
	flex-basis: 100%;
	padding: 0;
	margin-top: 2em;
	transition-property: flex-basis, padding, margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.content > * {
	margin-top: 1em;
	transition: margin 0.3s ease-in-out;
}
.content > :first-child {
	margin-top: 0;
}
.heading {
	composes: heading from "~client/website/layouts/Structure/style.css";
	text-align: left;
	width: 100%;
	padding: 0;
}
.description {
}
@media (min-width: 48rem) {
	.section {
		padding: 3em 2em;
	}
	.preview_image {
		flex-basis: 50%;
		padding-top: 0;
	}
	.content {
		flex-basis: 50%;
		padding: 4em 0 4em 2em;
		margin-top: 0;
	}
}
@media (min-width: 64rem) {
	.section {
		padding: 5em 2em;
	}
	.content {
		padding: 5em 0 5em 5em;
	}
	.content > * {
		margin-top: 2em;
	}
}
