.container {
	max-width: 540ru;
	margin: 40ru auto;
	background-color: #fff;
	box-shadow: 0 2px 4px #dedad4;
	border-radius: 4ru;
}

.loading {
	padding: 28ru;
	font-size: 12ru;
	text-transform: uppercase;
	color: $color.neutral.warm.x40;
}

.title {
	padding: 0 20ru;
	line-height: 48ru;
	font-size: 14ru;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $color.neutral.warm.x50;
	border-bottom: 1px solid $color.neutral.warm.x10;
}
.content {
	position: relative;
}

.list {
	padding: 6ru 0;
}
.item {
	display: block;
	padding: 12ru 20ru;
	cursor: pointer;
}
.item:hover {
	background-color: $color.neutral.warm.x00;
}
