.account {
	display: flex;
	align-items: center;
	position: relative;
	background-color: inherit;
}

.avatar {
	position: relative;
	width: 3em;
	height: 3em;
	background: var(--background_color_accent);
	border-radius: 50%;
	padding: 0.5em;
	/*overflow: hidden;*/
}

.avatar img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.account_menu {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: inherit;
}

.user {
	padding: 0;
	opacity: 0;
	font-size: 0;
	margin-left: 0;
	visibility: hidden;
	transition-property: padding, opacity, visibility, font-size, margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.menu_collapsed {
	transition-property: opacity, visibility;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	position: absolute;
	z-index: 20;
	background-color: inherit;
	top: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	text-align: right;
	width: 15em;
	margin: 0 -2em;
}

.menu_expanded {
	composes: menu_collapsed;
	opacity: 1;
	visibility: visible;
}

.notification {
	position: absolute;
	background: var(--text_color_accent);
	width: 0.75em;
	height: 0.75em;
	top: 0;
	right: 0.25em;
	z-index: 10;
	border-radius: 50%;
}

.dropdown_icon {
	margin-left: 1em;
}

.dropdown_icon:before {
	vertical-align: middle;
}

@media (min-width: 48rem) {
	.user {
		opacity: 1;
		visibility: visible;
		padding: 1em 0;
		margin-left: 1em;
		font-size: inherit;
	}
}
