.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: color($color.neutral.warm.x10 a(72%));
	z-index: $layer.overlay;
}

@media $screen.max_large {
	.menu {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 240ru;
		padding-top: 40ru;
		overflow-y: auto;
		background-color: $color.neutral.warm.x10;
		box-shadow: 0px 0px 12px #bab8b2;
		transform: translateX(110%);
		transition: transform 224ms $animation.decelerate;
		z-index: $layer.drawer;
	}
	.menu.is_visible {
		transform: translateX(0%);
	}
}
@media $screen.large {
	.menu {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		margin-right: 32ru;
	}
}
.menu_item {
	line-height: 28ru;
	font-size: 16ru;
	font-family: $font.sans;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: $color.neutral.warm.x80;
	letter-spacing: 0.1em;
	transition: color 0.3s ease;
}
@media $screen.max_large {
	.menu_item {
		position: relative;
		display: block;
		padding: 12ru 32ru;
	}
	.menu_item.is_active {
		color: $color.neutral.warm.x90;
		background-color: $color.neutral.warm.x20;
	}
}
@media $screen.large {
	.menu_item {
		position: relative;
		margin-left: 24ru;
		line-height: 24ru;
		font-size: 14ru;
	}
	.menu_item::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -0.25em;
		opacity: 0;
		border-bottom: 1px solid $color.neutral.warm.dark;
		transition: transform 0.3s ease, opacity 0.3s ease;
	}
	.menu_item:hover::after,
	.menu_item.is_active::after {
		opacity: 1;
		transform: translateY(0.25em);
	}
	.menu_item.is_active::after {
		border-bottom-width: 3px;
	}
}

.menu_divider {
	height: 1px;
	background-color: $color.neutral.warm.x10;
	margin: 12ru 20ru;
}

.menu_toggle {
	position: absolute;
	right: 16ru;
	top: 8ru;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56ru;
	width: 56ru;
	padding: 10ru;
}
.menu_toggle > svg {
	width: 28ru;
	height: 28ru;
	cursor: pointer;
	stroke: $color.neutral.warm.x90;
}
