/* [attr] @prop html body div span template bdi bdo wbr br hr */

/*
	remove margins, paddings, and borders from all elements except `<input>` so that everything is on an even playing field
*/
*:not(input) {
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	border: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	word-break: initial;
	/* remove repeating backgrounds (opinionated) */
	background-repeat: no-repeat;
}

/*
	suppress the focus outline on elements that cannot be accessed via keyboard.
	this prevents an unwanted focus outline from appearing around elements that
	might still respond to pointer events.
*/
[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

/* add the correct display in ie 10 */
[hidden] {
	display: none !important;
}

/* change the cursor on disabled, not-editable */
[aria-disabled],
[disabled] {
	cursor: not-allowed;
}

@-ms-viewport {
	width: device-width;
}

html {
	/* use border-box when calculating the css box model (opinionated) */
	box-sizing: border-box;

	/* minimum window width (opinionated) */
	min-width: 320px;

	/* default line-height, no line height by default (opinionated) */
	line-height: 1;

	/* prevent adjustments of font size after orientation changes in ios */
	text-size-adjust: 100%;

	/* breaks words in all browsers to prevent overflow */
	word-break: break-word;

	/* ignore non-responsive design overflows */
	overflow-x: hidden;

	/* always saow the vertical scrollbar so that content doesn't jump */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	tab-size: 2;
}

body {
	position: relative;
	/* remove the margin in all browsers */
	margin: 0;
	/* set the minimum body height as the viewport's height */
	min-height: 100vh;
	/* allow only vertical scroll on body (opinionated) */
	overflow-x: hidden;
	overflow-y: auto;

	font-weight: 400;
	font-style: normal;
	font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
		"ubuntu", "fira sans", "droid sans", "helvetica neue";
	font-feature-settings: "kern", "liga", "clig", "calt";
	font-kerning: normal;
	word-wrap: break-word;
	letter-spacing: 0;

	/* font-variant-* are supported in ie10+ and modern browsers */
	font-variant-ligatures: common-ligatures;
	/* old-style "lowercase" numerals for text */
	font-variant-numeric: oldstyle-nums;
	/* choose the size of the font so that its lowercase letters */
	font-size-adjust: 0.5;

	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* text adjust is set to 100% to avoid ios safari bugs where the font-size is
	 sometimes not restored during orientation */
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;

	/* default color (opinionated) */
	color: #1f2933;
}

/* attribute that disables scrolling (opinionated) */
body[noscroll] {
	height: 100vh !important;
	overflow: hidden !important;
}

hr {
	/* add the correct box sizing in firefox */
	box-sizing: content-box;
	/* show the overflow in edge and ie */
	overflow: visible;
	/* a better looking default horizontal rule */
	margin: 1em 0;
	height: 1px;
	border: 0;
	background-color: #9aa5b1;
}
