/* p pre ul ol li dd dl dt blockquote figure figcaption main */

ol,
ul,
li,
dl,
dt,
dd {
	list-style: none;
}

/* remove the margin on nested lists in chrome and safari */
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	margin-block-start: 0;
	margin-block-end: 0;
}

figcaption {
	text-align: center;
	font-size: 0.75em;
	color: #6e8ca8;
}
