/* img picture svg video audio area canvas */

img {
	/* prevent images from overflowing the container (opinionated) */
	max-width: 100%;
	/* change default image behaviour */
	display: block;
	/* prevent images from being stretched */
	height: auto;
}

audio,
canvas,
video {
	/* remove the gap between elements and the bottom of their containers */
	vertical-align: middle;
}

/* change the fill color to match the text color */
svg:not([fill]) {
	fill: currentColor;
}

/* hide the overflow in IE */
svg:not(:root) {
	overflow: hidden;
}
