@media print {
  *,
  *::after,
  *::before {
    /* remove styles that are poor for printing */
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* black prints faster */
    color: black !important;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
}
