/* address article aside footer header h1-h6 hgroup main nav section */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}

address {
	font-style: inherit;
}
