.container {
	position: relative;
	font-family: $font.serif;
	color: $color.black;
	max-width: 800ru;
	margin: 0 auto;
}

.header {
	margin-top: 24ru;
	font-size: 10ru;
	font-weight: 500;
	font-family: $font.sans;
	text-transform: uppercase;
	color: $color.neutral.grey.x60;
}
.question {
	font-size: 12ru;
	font-weight: 700;
}
.answer {
	margin-top: 8ru;
	padding-left: 4ru;
	font-size: 12ru;
}

.field {
	margin-top: 12ru;
}
.field_inline {
	margin-top: 12ru;
	display: flex;
}
.field_inline .answer {
	margin-top: 0;
	padding-left: 8ru;
}
