.section {
	position: relative;
	padding: 2em;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.content {
	max-width: 60rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.to_left {
	flex-basis: 100%;
	max-width: 30rem;
	margin: auto;
	transition-property: flex-basis;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.tagline {
	font-size: 0.9em;
	font-weight: bold;
}
.heading {
	composes: heading from "~client/pages/Structure/style.css";
	width: 100%;
	padding: 0;
	text-align: left;
	margin-top: 0.5rem;
	line-height: 1.2;
	transition-property: font-size, margin;
}
.description {
	margin-top: 1em;
	transition-property: margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.content {
}
.action {
	margin-top: 1em;
	transition-property: margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.extra {
	margin-top: 1rem;
	font-size: 0.9em;
	font-weight: bold;
	transition-property: margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.to_right {
	flex-basis: 100%;
	max-width: 30rem;
	margin: 1em auto 0;
	transition-property: flex-basis;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
@media (min-width: 48rem) {
	.section {
		padding: 2em 4em;
	}
	.extra {
		margin-top: 2em;
	}
	.action {
		margin-top: 2em;
	}
	.to_right {
		margin-top: 2em;
	}
}
@media (min-width: 64rem) {
	.section {
		padding: 3em 5em;
	}
	.to_left {
		margin: 0;
		max-width: none;
		flex-basis: calc(50% - 5em);
	}
	.tagline {
		font-size: 1em;
	}
	.description {
		font-size: 1.2em;
	}
	.content {
		font-size: 1.2em;
	}
	.extra {
		font-size: 1em;
	}
	.to_right {
		margin: 0;
		max-width: none;
		flex-basis: calc(50% - 1em);
	}
}
