.section {
	position: relative;
	padding: 2em 0;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.content {
	position: relative;
	max-width: 60rem;
	padding: 0 2em;
	margin: 2em auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	transition-property: margin;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.to_left {
	flex-basis: 100%;
	max-width: 30rem;
	margin: auto;
	transition-property: flex-basis;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.to_right {
	flex-basis: 100%;
	max-width: 30rem;
	margin: 2em auto 0;
	transition-property: flex-basis;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.heading {
	composes: heading from "~client/website/layouts/Structure/style.css";
}
.subheading {
	composes: subheading from "~client/website/layouts/Structure/style.css";
	margin-top: 1rem;
}
.paragraph {
	margin-top: 1rem;
	transition-property: margin, font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.tagline {
	font-size: 0.9em;
	font-weight: bold;
	transition-property: font-size;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
@media (min-width: 48rem) {
	.section {
		padding: 4em 0;
	}
	.to_left {
		flex-basis: calc(50% - 1em);
		margin: 0;
	}
	.to_right {
		flex-basis: calc(50% - 1em);
		margin: 0;
	}
	.subheading {
		margin-top: 2rem;
	}
	.paragraph {
		margin-top: 2rem;
		font-size: 1.2em;
	}
	.tagline {
		font-size: 1em;
	}
}
@media (min-width: 64rem) {
	.section {
		padding: 3em 0;
	}
	.to_left {
		flex-basis: calc(50% - 4em);
		max-width: 40rem;
		margin: 0;
	}
	.to_right {
		flex-basis: calc(50% - 4em);
		max-width: 40rem;
		margin: 0;
	}
}
