.container {
	position: relative;
	margin: 0 auto;
	padding: 20ru 0;
	max-width: 800ru;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.palette {
	width: 100%;
	border-radius: 10ru;
	box-shadow: 0px 2px 5px 0px rgba(153, 165, 177, 0.32);
	overflow: hidden;
}
.palette_color {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	cursor: pointer;
}

.schema {
	position: relative;
	width: 200ru;
	margin: 40ru;
}
.schema_title {
	font-size: 12ru;
	text-transform: uppercase;
	color: $color.neutral.cool.x40;
}
.schema_palette {
	margin-top: 20ru;
}
