.section {
	position: relative;
	padding: 2em 0;
}
.content {
	margin: 2em auto 0;
	max-width: 80rem;
	padding: 0 2em;
	transition: margin 0.3s ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.featured {
	position: relative;
	padding-top: 0;
	transition-property: padding, column-span;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	height: 100%;
}
.block {
	padding-top: 0;
	transition: padding 0.3s ease-in-out;
	position: relative;
	flex-basis: 100%;
}
.to_left {
	flex-basis: 100%;
}
.to_right {
	flex-basis: 100%;
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.to_bottom {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2em;
}
.heading {
	composes: heading from "~client/pages/Structure/style.css";
}
.block:not(:first-child) {
	margin-top: 2em;
}
@media (min-width: 32.5rem) {
	.article {
		position: absolute;
	}
}
@media (min-width: 48rem) {
	.section {
		padding: 4em 0;
	}
	.content {
		margin-top: 4em;
		padding: 0 4em;
	}
}
@media (min-width: 48rem) {
	.block {
		flex-basis: calc(50% - 1em);
	}
	.block:nth-child(2) {
		margin-top: 0;
	}
}
@media (min-width: 64rem) {
	.section {
		padding: 5em 0;
	}
	.content {
		margin-top: 5em;
		padding: 0 5em;
	}
}
@media (min-width: 75rem) {
	.to_left {
		flex-basis: calc(50% - 1em);
	}
	.to_right {
		margin-top: 0;
		flex-basis: calc(50% - 1em);
	}
	.to_bottom {
		flex-basis: 100%;
	}
}
