.workshops [tag="htmleditor"] {
	margin-left: -12ru;
	margin-right: -12ru;
}

.workshops [tag="repeaterfield_item"] {
	margin-top: 32ru;
}
.workshops [tag="repeaterfield_item"] [tag="textfield"] {
	margin-top: 20ru;
}
.workshops [tag="repeaterfield_add"] {
	margin-top: 20ru;
	border-radius: 1em;
	overflow: hidden;
}

.event_note {
	margin-top: 32ru;
}
