.container {
	position: relative;
}

.item {
	position: relative;
	padding-right: 32ru;
}

.action_remove {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 32ru;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;
}
.action_remove svg {
	width: 20ru;
	height: 20ru;
	stroke: $color.neutral.warm.x10;
}
.action_remove:hover svg {
	stroke: $color.red.x50;
}

.action_add {
	position: relative;
	display: flex;
	justify-content: center;
}
.action_add:hover {
	color: $color.neutral.warm.x70;
}
.action_add [tag="button_label"] {
	display: flex;
	align-items: center;
	padding: 0 8ru;

	line-height: 28px;
	font-size: 12px;
	font-family: NotoSans;

	color: $color.neutral.warm.x30;
	background-color: $color.neutral.warm.x00;
	border-radius: 2em;
}
.action_add:hover [tag="button_label"] {
	color: $color.neutral.warm.x60;
}
.action_add svg {
	width: 20ru;
	height: 20ru;
	stroke: $color.neutral.warm.x10;
}
.action_add:hover svg {
	stroke: $color.neutral.warm.x50;
}
