.container {
	max-width: 540ru;
	margin: 40ru auto;
	background-color: #fff;
	box-shadow: 0 2px 4px #dedad4;
	border-radius: 4ru;
}
.link {
	display: block;
	padding: 0 24ru;
	line-height: 56ru;
}
.link:hover {
	background-color: $color.neutral.warm.x10;
}
