.ql-container.ql-snow {
	border: none;
	font-size: 1.125rem;
}
.ql-toolbar.ql-snow {
	background-color: $color.neutral.warm.x10;
	border-radius: 20ru;
	border: 0;
}
.ql-picker-options {
	z-index: 5;
}

/* FONTS */
.ql-picker.ql-font .ql-picker-label[data-value="notoserif"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="notoserif"]::before {
	content: "Noto Serif";
	font-family: "NotoSerif";
}
.ql-font-notoserif {
	font-family: "NotoSerif";
}

.ql-picker.ql-font .ql-picker-label[data-value="notosans"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="notosans"]::before {
	content: "Noto Sans";
	font-family: "NotoSans";
}
.ql-font-notosans {
	font-family: "NotoSans";
}

/* FONT SIZES */
.ql-picker.ql-size .ql-picker-item[data-value="0.875rem"]::before {
	content: "14px";
	font-size: 0.875rem;
}
.ql-picker.ql-size .ql-picker-item[data-value="1rem"]::before {
	content: "16px";
	font-size: 1.125rem;
}
.ql-picker.ql-size .ql-picker-item[data-value="1.125rem"]::before {
	content: "18px";
	font-size: 1.125rem;
}
.ql-picker.ql-size .ql-picker-item[data-value="1.25rem"]::before {
	content: "20px";
	font-size: 1.25rem;
}
.ql-picker.ql-size .ql-picker-item[data-value="1.5rem"]::before {
	content: "24px";
	font-size: 1.5rem;
}
.ql-picker.ql-size .ql-picker-item[data-value="1.75rem"]::before {
	content: "28px";
	font-size: 1.75rem;
}
