.container {
	max-width: 600ru;
	margin: 0 auto;
	padding: 36ru 20ru;
}
.container > p {
	margin-top: 10ru;
	line-height: 1.6em;
}

.title {
	font-size: 36ru;
}
.heading {
	margin-top: 20ru;
	font-size: 20ru;
}

.group {
	margin-top: 40ru;
	position: relative;
	border: 1px solid $color.neutral.blue.x00;
	border-radius: 0.25em;
}

.group_title {
	position: absolute;
	top: -0.625em;
	left: 2em;
	padding: 0 0.5em;
	font-size: 12ru;
	font-weight: 500;
	color: $color.neutral.blue.x50;
	background: #fafbfc;
}

.group_content {
	padding: 20ru;
}

.group_content button + button {
	margin-left: 16ru;
}
